$desktop: 1000px;

.container-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 15px;
  padding: 25px;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  background-position: right 25px top 0;
  margin: 15px;
  box-shadow: 1px 5px 15px 3px rgba(0, 0, 0, 0.1);
}

.card-header {
  width: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
  &__name {
    display: flex;
    flex-direction: column;
    gap: 3px;
    span:last-child {
      color: hsl(0, 0%, 100%, 0.5);
    }
  }
  img {
    border-radius: 50%;
    width: 35px;
    border: 3px solid hsl(0, 0%, 100%, 0.5);
  }
}

.card-title {
  font-size: 25px;
}

.card-text {
  color: hsl(0, 0%, 100%, 0.5);
  flex: 1;
}

@media (min-width: $desktop) {
  .card1 {
    grid-column: 1/3;
  }

  .card3 {
    grid-row: 2;
  }

  .card4 {
    grid-column: 2/4;
  }

  .card5 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
}
