@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  margin: 0;
  font-size: 13px;
}
